*.mp4
*.mov
*.pth
__pycache__
*.ckpt
*.p
*.pyt
*.mkv
*.egg-info
.envrc
.DS_Store
poetry.lock
.env
.env.*
!.env.example
dist
*.prof
*.dmg
.ipynb_checkpoints
tests/fixtures/high_res
tests/fixtures/compressed
tests/fixtures/volume/frames
tests/fixtures/volume/scenes
tests/cache
tests/models
*.pem
build
*.spec
.pnp.*
.yarn/*
node_modules
customer_videos
.storybook_downsample_cache.json
.compressed_videos
.cache
cache.db
tests/**/*.wav
scripts/outputs
tests/video_outputs
tests/timeline_outputs
