Your previous output contained the following segment that was not found in the original provided transcription:
```
{{ segment }}
```
Find a substitute EXACTLY MATCHING segment from the original set of transcribed takes.

Original transcriptions:
```
{{ deduped_transcript }}
```

After thinking about the best segment to use, respond with the separator "======" followed by a single segment you have chosen.
