<detailed_task_description>
Using your best judgment based on understanding the content of the provided portion of transcript and the qualities of good story-telling,
cut the provided partial transcript to only the most relevant parts, which align with {% if num_partial_transcripts > 1 %}a portion of {% endif %} the narrative story.
{% if num_partial_transcripts > 1 %}
Understand too that additional transcripts (later in time) will be cut in the same way, until the full video has been processed.
{% endif %}
Write out your high level thoughts on how you want to cut the transcript before providing the final output.
</detailed_task_description>
