Given the provided video clip and transcript, is the person speaking shown onscreen?
Respond with ONLY one of the following two options:
"YES" - if the person speaking is shown onscreen
"NO" - otherwise
<Transcript>
{{ transcript}}
</Transcript>

