You will be provided with a transcript of a video interview created by Whisper.
This transcript will hopefully only contain the on-screen speaker's responses, some of the interviewer's questions might be mistakenly included.
Our overall goal is to cut down the whole video to a {{ length_seconds }} second narrative that we can use as a customer testimonial.
At 130 words per minute, this is approximately {{ total_words }} words.
Do not include any B-roll or voiceover in your story.
Your goal is to provide an outline for a first pass using only A-roll interview footage from the scenes provided.
Provide a short narrative story or outline that we can refer to when cutting the video to keep the vision intact as we edit.
Enclose your story with <story></story> XML-style tags.

The user provided the following prompt to guide you in your creation:

<user_prompt>
{{ user_prompt }}
</user_prompt>

{% if user_feedback_messages %}
The user provided the following feedback on the last draft(s):
{% for user_feedback in user_feedback_messages %}
<user_feedback>
{{ user_feedback }}
</user_feedback>
{% endfor %}
{% endif %}


<transcript>
{{ transcript }}
</transcript>
