<high_level_preamble>
You will be provided with a version of a transcript of a video interview that has been cut down to follow along with a narrative story provided below,
Our overall goal is to cut down the whole video to a {{ length_seconds }} second narrative that we can use as a customer testimonial.
At 130 words per minute, this is approximately {{ total_words }} words.

The human editor provided the following prompt to guide you in your creation:
<prompt>
{{ user_prompt }}
</prompt>

In addition to the human editor's prompt, a previous AI assistant generated the following high-level narrative story that you should aim to follow in your cuts:
<story>
{{ narrative_story }}.
</story>

</high_level_preamble>
