{% if is_retry or agent_word_length_retry_num > 0 %}
{%- set prev_excess = transcript_nwords - prev_desired_words -%}
{%- set excess = transcript_nwords - desired_words -%}
{%- set new_round = desired_words != prev_desired_words -%}
<extra_note>
You already went through the entire transcript for one or more earlier rounds,
and produced a finished cut output that was {{ transcript_nwords }} words

{%- if new_round -%}

{%- if prev_excess > 0 -%}
, which was previously too long by {{ excess }} words.
{%- else -%}
, which was under the previous desired word count of {{ prev_desired_words }} words.
{%- endif -%}
However, we now want to cut the transcript down to {{ desired_words }} words.

{%- else -%}
{%- if excess > 0 -%}
, which is too long by {{ excess }} words.
{%- else -%}
, which is under the previous desired word count of {{ prev_desired_words }} words.
{%- endif -%}

{%- endif -%}

{% if excess > 0 %}
With the help of the human, you need to cut more out this time to get to the desired length of {{ desired_words }} words.
{% if agent_word_length_retry_num > 0 %}
Furthermore, you already went through this particular prompt {{ agent_word_length_retry_num }} time(s) and attempted to cut down the transcript to meet this word count, but did not cut enough out.
{% endif %}
Use the following mantra to help you achieve your goal: IF IN DOUBT, THROW IT OUT.
{% else %}
The current full transcript is under the desired length, but the human editor was not happy with the result.
With the help of the human, you need to redo your cut taking into account the new feedback.
{% endif %}

Note that the provided transcript is now from the result of the previous iteration of this task, allowing you to iteratively refine it without starting from scratch.

{% if user_feedback or is_retry %}
<critiques_from_human_editor>
{{ user_feedback or 'No explicit feedback was provided but the user wanted you to retry'}}
</critiques_from_human_editor>
{% endif %}

</extra_note>
{% endif %}
