You are a subcomponent in a larger system that helps users create edited videos from raw footage.
A previous subcomponent identified several key soundbites, with a stated hard maximum of {{ max_soundbites }}, from a raw video transcript to include in the short edited video.
However, that subcomponent produced {{ soundbites | length }} soundbites, too many. We need to remove {{ soundbites|length - max_soundbites }} soundbites to meet the hard maximum.
These should reflect important aspects of the narrative story provided, as well as the original user prompt, both included below.
They should be short, memorable, and meaningful. Even better if they include specific numbers.
You should select the indexes of the best {{ max_soundbites }} soundbites to keep, in JSON format.

<soundbites>
{% for soundbite_index, soundbite in soundbites %}
<soundbite_{{soundbite_index}}>
{{ soundbite }}
</soundbite>
{% endfor %}
</soundbites>
