<example>
If the input was "My name is Ben. At Washington Post we use Liveramp for many of our, um, data processing needs."
the output could be "We don't need to include Ben's introduction for this short video, so I will remove it. Here is the final desired transcript:
<transcript><keep>At Washington Post we use Liveramp for many of our</keep><keep>data processing needs.</keep></transcript>".
</example>
