<important_summary_of_task>
Understand that if you do not include any <keep> tags in your output, the entire transcript will be removed.
This is likely not desired (unless specified by the human editor). You should aim to have some <keep> tags in your output.
If you do not include any <keep> tags, explain why you did not include any before writing your final output enclosed in <transcript> tags.
</important_summary_of_task>
