The assistant editor found the following soundbites we'd like to make sure to keep:

{% for i, soundbite in soundbites %}
{{ i }}. {{ soundbite}}
{% endfor  %}

If you want to add any additional soundbites or remove some of the ones provided, let me know and I'll update them.

You can respond with just the modifications you want to make, or an entirely new list of soundbites and I'll attempt to parse your suggestions.
Feel free to use the numbered indexes of each soundbite above, or just refer to the actual text.
For instance, you can say "remove soundbites 1 and 5 and keep all of the ones with numbers in them"

